
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="../assets/logo_dubba_negativo.png"/></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#" ></a>
        <a class="nav-link" href="#">SOLUÇÃO</a>
        <a class="nav-link" href="#">COMO FUNCIONA</a>
        <a class="nav-link" href="#">SOBRE NÓS</a>
        <a class="nav-link" href="#">PACOTES</a>
        <a class="nav-link" href="#">CONTATO</a>
      </div>
    </div>
  </div>
</nav>

<div class="container-sm">
<div class="card" style="width: 100%;">
  <div class="card-body">
    <h1 id="text" class="card-title">Pacotes de acesso</h1>
    <h5>confira os detalhes de cada pacote e reserve a sua loja</h5>
    <div class="row">
      <div class="col-sm-3">
        <div class="card text-dark bg-light mb-3">
          <div class="card-body">
            <h5 class="card-header">Pacote 1</h5>
            <p class="card-text">- Loja on-lie <br> - Painel de controle <br>- Conta digital <br>- Entrega <br> -50 pedido/mês.</p>
            <a href="#" class="btn btn-primary">R$ 99</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card text-dark bg-light mb-3">
          <div class="card-body">
            <h5 class="card-header">Pacote 2</h5>
            <p class="card-text">- Loja on-lie <br> - Painel de controle <br>- Conta digital <br>- Entrega <br> -51 a 150 pedido/mês</p>
            <a href="#" class="btn btn-primary">R$ 149 </a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card text-dark bg-light mb-3">
          <div class="card-body">
            <h5 class="card-header">Pacote 3</h5>
            <p class="card-text">- Loja on-lie <br> - Painel de controle <br>- Conta digital <br>- Entrega <br> -151 a... pedido/mês</p>
            <a href="#" class="btn btn-primary">R$ 249</a>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>
</div>

<router-outlet></router-outlet>
